<section class="row-section">
    <div class="container">
	    <div class="row">
		    <h2 class="text-center"><span>Sets</span></h2>
	    </div>
	    <div class="col-md-10 offset-md-1 row-block">
	        <ul id="sortable">
	            <li><div class="media">
	            <div class="media-left align-self-center">
	                <img class="rounded-circle" src="https://picsum.photos/200/200">
	            </div>
	            <div class="media-body">
	                <h4>Tech</h4>
	                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
	            </div>
	            <div class="media-right align-self-center">
	                <a href="#" class="btn btn-default">Open</a>
	            </div>
	        </div></li>
	            <li><div class="media">
	            <div class="media-left align-self-center">
	                <img class="rounded-circle" src="https://picsum.photos/200/201">
	            </div>
	            <div class="media-body">
	                <h4>Hyperthermesia</h4>
	                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
	            </div>
	            <div class="media-right align-self-center">
	                <a href="#" class="btn btn-default">Contact Now</a>
	            </div>
	        </div></li>
	        </ul>
	    </div>
</div>
</section>